@charset "utf-8";

body{
    background-repeat: no-repeat;
    background-image: url(../_imagens/imagem-de-fundo.jpg);
    background-position: center;
    color: rgb(255, 255, 255);
    font-family: 'Abril Fatface';
    margin: 0px;
    background-size: cover;
    height: 92vh;
}

p {
    text-align: justify;
    text-indent: 50px;

}


/* meu menu e formatação*/

* {
margin: 0;
padding: 0;
}

a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
    a:hover {

        opacity:0.7;
    }
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui,Arial, Helvetica, sans-serif;
    background: #23232e;
    height:8vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.menu {
    display: none;
    cursor: pointer;
}



@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }
    .nav-list {
        position:absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);

    }
    .nav-list {
        margin-left: 0;
        opacity:0 ;
    }
    .menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

/*rodape */
footer {
    text-align: center;
    padding:5px ;
    margin: 0px;
    position: absolute;
    width: 100%;
    line-height: 100px;
    bottom: 0;
    
    
    
}



